@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JIA0UVNqfH9WuVQQRM477DaCFQ&skey=c9794b4fcbed8443&v=v9) format('truetype');
}
